pyttsx3==2.90
wikipedia==1.4.0
speedtest-cli==2.1.3
pyautogui==0.9.53
opencv-python-headless==4.5.3.56
twilio==6.79.0
instaloader==4.7.1
PyPDF2==1.26.0
googlesearch-python==1.0.1
requests==2.26.0
beautifulsoup4==4.10.0
wolframalpha==5.0.0
openai==0.27.0
datetime
os
random
smtplib
sys
threading
time
urllib
webbrowser
email
cv2
instaloader
psutil
pyautogui
PyPDF2
pyttsx3
pywhatkit
speech_recognition
speedtest-cli
wikipedia
pywin32
wolframalpha
chatterbot
pywikihow
requests
selenium
pyqt5
